@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  html {
    height: 100%;
  }
  html body {
    height: 100%;
    background: linear-gradient(to bottom, #ec6c2c, #2875c9);
  }
  html .section .logo-container {
    width: 100%;
    text-align: end;
    height: 0;
    position: absolute;
    right: 86px;
    top: 16px;
  }
  html .section .logo-sch {
    border-radius: 50%;
    border: 5px solid #ffff;
    height: 80px;
    width: 80px;
  }
  html .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 100vh;
  }
  html .main .menu-container {
    display: none;
  }
  html .main .menu-container-hh .menu-container-h {
    margin: 20px;
  }
  html .main .menu-container-hh .menu-container-h input {
    display: none;
  }
  html .main .menu-container-hh .menu-container-h input:checked ~ ul {
    display: block;
  }
  html .main .menu-container-hh .menu-container-h input:checked ~ label {
    background: lightgrey;
  }
  html .main .menu-container-hh .menu-list-h {
    display: block;
    background: #333;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 2px solid #ffffff;
    font-family: "Bebas Neue", cursive;
  }
  html .main .menu-container-hh .menu-list-h:hover {
    filter: brightness(110%);
  }
  html .main .menu-container-hh .ul-h .menu-list-h a {
    text-decoration: none;
    color: #ffff;
  }
  html .main .menu-container-hh .ul-h {
    position: absolute;
    padding: 0;
    margin: 0 10px;
    width: 200px;
    display: none;
  }
  html .main .menu-container-hh .ul-h .menu-list-h a {
    text-decoration: none;
    color: #ffff;
  }
  html .main .menu-container-hh .menu-imagen {
    box-sizing: border-box;
    display: inline-block;
    border: 1.5px solid black;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  html .main .menu-container-hh .menu-imagen:hover {
    background: grey;
  }
  html .main .container-index {
    grid-column: 2/4;
    grid-row: 2/3;
    font-family: "Teko", sans-serif;
    font-size: 32px;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  html .main #carouselExampleIndicators {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  html .main .carousel .carousel-item {
    max-height: 300px;
  }
  html .main .carousel-item img {
    object-fit: cover;
    max-height: 300px;
  }
  html .main #carouselExampleIndicators2 {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 12px;
  }
  html .main .carousel .carousel-item {
    max-height: 300px;
  }
  html .main .carousel-item img {
    object-fit: cover;
    max-height: 300px;
  }
  html .main .container-servicios {
    grid-column: 1/5;
    grid-row: 3/4;
    padding: 10px;
    margin: 10px;
    font-family: "Teko", sans-serif;
    font-size: 20px;
  }
  html .main .container-productos {
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 10px;
    margin: 10px;
    font-family: "Teko", sans-serif;
  }
  html .main .container-productos .carrito-compra {
    text-align: center;
  }
  html .main .container-productos .carrito-compra label {
    padding: 10px;
    font-size: 20px;
  }
  html .main .container-productos .carrito-compra .btn {
    margin: 10px;
  }
  html .main .container-nosotros {
    grid-column: 3/5;
    grid-row: 3/4;
    padding: 12px;
    margin: 12px;
    font-family: "Teko", sans-serif;
    font-size: 20px;
  }
  html .main .container-contacto {
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 10px;
    margin: 10px;
    font-family: "Teko", sans-serif;
  }
  html .main .container-contacto .formulario-contacto {
    text-align: center;
  }
  html .main .container-contacto .formulario-contacto label {
    padding: 10px;
    font-size: 20px;
  }
  html .main .container-contacto .formulario-contacto .btn {
    margin: 10px;
  }
  html .main .lista-contacto {
    grid-column: 1/5;
    grid-row: 3/4;
    padding: 12px;
    margin: 12px;
    font-family: "Teko", sans-serif;
  }
  html .main .lista-contacto .lista-contacto,
  html .main .lista-contacto h2 {
    text-align: center;
  }
  html .main .lista-contacto .redes-sociales {
    display: flex;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
  }
  html .main .lista-contacto .lista-redes {
    list-style: none;
    text-decoration: none;
    border-radius: 12%;
  }
  html .main .lista-contacto .redes-sociales .lista-redes {
    padding: 10px;
    width: 12%;
    height: 12%;
  }
  html .main .lista-contacto .redes-sociales .lista-redes a {
    text-decoration: none;
    color: #000;
  }
  html .main .lista-contacto .redes-sociales .lista-redes:hover a {
    color: #ffff;
    font-weight: bold;
  }
  html .main .lista-contacto .redes-sociales .lista-redes2:hover {
    background-color: #e1306c;
  }
  html .main .lista-contacto .redes-sociales .lista-redes3:hover {
    background-color: #db4437;
  }
  html .main .lista-contacto .redes-sociales .lista-redes1:hover {
    background-color: #20bd59;
  }
  html .main .lista-contacto .logos {
    height: 45px;
    width: 45px;
  }
  html .footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 6px 0;
    background-color: #333;
    font-family: "Bebas Neue", cursive;
  }
  html .footer .footer-container {
    color: #ffff;
    font-size: 1rem;
    text-align: center;
  }
  html #compraFinal {
    font-family: "Bebas Neue", cursive;
    color: #ffff;
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 1rem;
  }
  html #objFinal {
    font-family: "Bebas Neue", cursive;
    color: #ffff;
    display: flex;
    justify-content: center;
    grid-column: 3/5;
    grid-row: 3/4;
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  html {
    height: 100%;
  }
  html body {
    height: 100%;
    background: linear-gradient(to bottom, #ec6c2c, #2875c9);
  }
  html .section .logo-container {
    width: 100%;
    text-align: center;
    height: 0;
    position: absolute;
    top: 36px;
  }
  html .section .logo-sch {
    border-radius: 50%;
    border: 5px solid #ffff;
    height: 80px;
    width: 80px;
  }
  html .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: 100vh;
  }
  html .main .menu-container {
    grid-column: 1/5;
    grid-row: 1/2;
    margin: 10px 0;
  }
  html .main .menu-container .logo-container,
  html .main .menu-container .menu-container {
    width: 100%;
    margin: auto;
    text-align: center;
    height: 0;
  }
  html .main .menu-container .menu-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #333;
    overflow: hidden;
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
  }
  html .main .menu-container .menu-list-item {
    text-decoration: none;
    list-style-type: none;
  }
  html .main .menu-container .menu-list .menu-list-item {
    padding: 12px;
    width: 22%;
  }
  html .main .menu-container .menu-list .menu-list-item:hover a {
    color: #2875c9;
    font-weight: bold;
  }
  html .main .menu-container .menu-list .menu-list-item a {
    text-decoration: none;
    color: #ffff;
  }
  html .main .menu-container .menu-list .menu-list-item:hover {
    background-color: #ec6c2c;
  }
  html .main .menu-container-hh .menu-container-h {
    display: none;
  }
  html .main .menu-container-hh .menu-container-h .menu-container-h input {
    display: none;
  }
  html
    .main
    .menu-container-hh
    .menu-container-h
    .menu-container-h
    input:checked
    ~ ul {
    display: block;
  }
  html
    .main
    .menu-container-hh
    .menu-container-h
    .menu-container-h
    input:checked
    ~ label {
    background: lightgrey;
  }
  html .main .menu-container-hh .menu-container-h .menu-list-h {
    display: block;
    background: #333;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #ffffff;
    font-family: "Bebas Neue", cursive;
  }
  html .main .menu-container-hh .menu-container-h .menu-list-h:hover {
    filter: brightness(110%);
  }
  html .main .menu-container-hh .menu-container-h .ul-h .menu-list-h a {
    text-decoration: none;
    color: #ffffff;
  }
  html .main .menu-container-hh .menu-container-h .ul-h {
    position: absolute;
    padding: 0;
    width: 200px;
    display: none;
  }
  html .main .menu-container-hh .menu-container-h .ul-h .menu-list-h a {
    text-decoration: none;
    color: #ffffff;
  }
  html .main .menu-container-hh .menu-container-h .menu-imagen {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  html .main .menu-container-hh .menu-container-h .menu-imagen:hover {
    background: grey;
  }
  html .main .container-index {
    grid-column: 2/4;
    grid-row: 2/3;
    font-family: "Teko", sans-serif;
    font-size: 32px;
    padding: 12px;
    margin: 12px;
    text-align: center;
  }
  html .main #carouselExampleIndicators {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  html .main #carouselExampleIndicators2 {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 12px;
  }
  html .main .carousel .carousel-item {
    max-height: 350px;
  }
  html .main .carousel-item img {
    object-fit: cover;
    max-height: 350px;
  }
  html .main .container-servicios {
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 12px;
    margin: 12px;
    font-family: "Teko", sans-serif;
    font-size: 20px;
  }
  html .main .container-productos {
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 12px;
    margin: 12px;
    font-family: "Teko", sans-serif;
  }
  html .main .container-productos .carrito-compra {
    text-align: center;
  }
  html .main .container-productos .carrito-compra label {
    padding: 12px;
    font-size: 20px;
  }
  html .main .container-productos .carrito-compra .btn {
    margin: 12px;
  }
  html .main .container-nosotros {
    grid-column: 3/5;
    grid-row: 3/4;
    padding: 12px;
    margin: 12px;
    font-family: "Teko", sans-serif;
    font-size: 20px;
  }
  html .main .container-contacto {
    grid-column: 1/5;
    grid-row: 2/3;
    padding: 12px;
    margin: 12px;
    font-family: "Teko", sans-serif;
  }
  html .main .container-contacto .formulario-contacto {
    text-align: center;
  }
  html .main .container-contacto .formulario-contacto label {
    padding: 12px;
    font-size: 20px;
  }
  html .main .container-contacto .formulario-contacto .btn {
    margin: 12px;
  }
  html .main .lista-contacto {
    grid-column: 1/5;
    grid-row: 3/4;
    padding: 12px;
    margin: 12px;
    font-family: "Teko", sans-serif;
  }
  html .main .lista-contacto .lista-contacto,
  html .main .lista-contacto h2 {
    text-align: center;
  }
  html .main .lista-contacto .redes-sociales {
    display: flex;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    font-family: "Bebas Neue", cursive;
  }
  html .main .lista-contacto .lista-redes {
    list-style: none;
    text-decoration: none;
    border-radius: 12%;
  }
  html .main .lista-contacto .redes-sociales .lista-redes {
    padding: 10px;
    width: 12%;
    height: 12%;
  }
  html .main .lista-contacto .redes-sociales .lista-redes a {
    text-decoration: none;
    color: #000;
  }
  html .main .lista-contacto .redes-sociales .lista-redes:hover a {
    color: #ffff;
    font-weight: bold;
  }
  html .main .lista-contacto .redes-sociales .lista-redes2:hover {
    background-color: #e1306c;
  }
  html .main .lista-contacto .redes-sociales .lista-redes3:hover {
    background-color: #db4437;
  }
  html .main .lista-contacto .redes-sociales .lista-redes1:hover {
    background-color: #20bd59;
  }
  html .main .lista-contacto .logos {
    height: 45px;
    width: 45px;
  }
  html .footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    padding: 6px 0;
    background-color: #333;
    font-family: "Bebas Neue", cursive;
  }
  html .footer .footer-container {
    color: #ffff;
    font-size: 1rem;
    text-align: center;
  }
  html #compraFinal {
    font-family: "Bebas Neue", cursive;
    color: #ffff;
    display:flex;
    justify-content:center;
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 1rem;
  }
  html #objFinal, #objFinalT, #objFinalP {
    font-family: "Bebas Neue", cursive;
    color: #ffff;
    display: flex;
    justify-content:center;
    grid-column: 3/4;
    grid-row: 3/4;
    font-size: 1rem;
  }
}
